
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
                
    {% block nav %}
    <nav>
      <ul>
        <li><a href="{{url_for('index')}}">Search</a></li>
      </ul>
    </nav>
    {% endblock %}

<html>
    <head>
        {% for user in users %}
        <h1>{{ user.name }}</h1>
        <h2>
            email: {{ user.email }}
        </h2>
        
            {% endfor %}

    </head>
</html>